*.pyc
.DS_Store
.env
.env.dev
.env.prod
constraintfree.geojson
constraintfree.geojson.zip
constraintfree.qmd
frontend/node_modules/
frontend/build/
frontend/build/*.json
frontend/build/asset-manifest.json
frontend/build/index.html
frontend/upload.sh
static/
venv/
backend/downloads/
backend/UKboundary_complicated.geojson
