*.pyc
.DS_Store
.env
.env.dev
.env.prod
constraintfree.geojson
constraintfree.qmd
frontend/node_modules/
frontend/build/
frontend/upload.sh
static/
venv/
backend/downloads/
backend/UKboundary_complicated.geojson
