{% autoescape off %}Dear {{ name }},

We received a request using your email address to send a message to other local users on the wewantwind platform. If you didn't make this request, please disregard this message. 

If you made the request and still want to send a message, you must agree to sending your name and email address to other users. 

If you agree, please click this link to send an introductory message containing your name and email address:
<a href="https://{{ domain }}{% url 'confirmmessage' uidb64=uid token=token %}">https://{{ domain }}{% url 'confirmmessage' uidb64=uid token=token %}</a>

If the link does not work, copy and paste this address into your browser directly:
https://{{ domain }}{% url 'confirmmessage' uidb64=uid token=token %}

The content of the message will be as follows:

---
Dear [Recipient's name],

The following user(s) are within {{ localdistance }} miles of you and would like to connect with local wewantwind users:

[Your name and email address]

To contact any of them about either setting up a community wind group or getting involved with an existing group, drop them an email.

To remove yourself from this mailing list, please click this link:
[Mailing removal link for recipient]

If the link does not work, copy and paste this address into your browser directly:
[Mailing removal link for recipient]

Best wishes,

wewantwind.org 
---

Best wishes,

wewantwind.org 
{{ domain }}

{% endautoescape %}
