{% autoescape off %}Dear {{ name }},

The following user(s) are within {{ localdistance }} miles of you and would like to connect with local wewantwind.org users:

{{ peoplelist }}
To contact any of them about either setting up a community wind group or getting involved with an existing group, drop them an email.

To remove yourself from this mailing list, please click this link:
<a href="https://{{ domain }}{% url 'removemailinglist' uidb64=uid token=token %}">https://{{ domain }}{% url 'removemailinglist' uidb64=uid token=token %}</a>

If the link does not work, copy and paste this address into your browser directly:
https://{{ domain }}{% url 'removemailinglist' uidb64=uid token=token %}

Best wishes,

{{ domain }}

{% endautoescape %}
